@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-color: #4ad66d;
}

.container {
  min-width: 307px;
  min-height: 411px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d6f1bd;
  margin: 9.5rem 12rem;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  > .temp-display {
    width: 220px;
    height: 218px;
    border-radius: 50%;
    background-color: #6ede8a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 48px;
    color: white;
    border: 2px solid rgb(117, 186, 84, 0.7);
    box-shadow: rgb(117, 186, 84) 0px 0px 12px;
    -webkit-text-stroke: 1px #716868;
  }
  > .control-buttons {
    display: flex;
    > button {
      width: 100px;
      height: 52px;
      font-weight: 700;
      font-size: 48px;
      color: #6ede8a;
      border-radius: 3px;
      border: none;
      margin: 3rem 1rem 1rem 1rem;
      -webkit-text-stroke: 1px #575757;
      display: flex;
      align-items: center;
      justify-content: center;

      border: 2px solid rgb(117, 186, 84, 0.7);
      &:hover {
        border: 2px solid rgb(117, 186, 84, 0.7);
        box-shadow: rgb(117, 186, 84) 0px 0px 12px;
      }
    }
  }
}

.cold {
  background-color: #affc41;
}
.hot {
  background-color: #ea5454;
}
